<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevos Usuarios</title>
    <link hrel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Nuevos usuarios</h1>
            <div class="notification">
                <img src="../../assets/campana'.png" alt="Notificación">
                <span class="notification-count">1</span>
            </div>
        </div>
        <div class="user-list">
            <div class="user-item">
                <div class="user-info">
                    <img src="../../assets/Usu.jpg" alt="Usuario">
                    <div class="user-details">
                        <p>Estudiante</p>
                        <p>Brenda Hernandez GIRO631</p>
                        <p>1223100474</p>
                    </div>
                </div>
                <div class="user-actions">
                    <button class="accept-btn">Aceptar</button>
                    <button class="reject-btn">Rechazar</button>
                </div>
            </div>
            <div class="user-item">
                <div class="user-info">
                    <img src="../../assets/Usu.jpg" alt="Usuario">
                    <div class="user-details">
                        <p>Estudiante</p>
                        <p>Brenda Hernandez GIRO631</p>
                        <p>1223100474</p>
                    </div>
                </div>
                <div class="user-actions">
                    <button class="accept-btn">Aceptar</button>
                    <button class="reject-btn">Rechazar</button>
                </div>
            </div>
            <div class="user-item">
                <div class="user-info">
                    <img src="../../assets/Usu.jpg" alt="Usuario">
                    <div class="user-details">
                        <p>Estudiante</p>
                        <p>Brenda Hernandez GIRO631</p>
                        <p>1223100474</p>
                    </div>
                </div>
                <div class="user-actions">
                    <button class="accept-btn">Aceptar</button>
                    <button class="reject-btn">Rechazar</button>
                </div>
            </div>  
             <div class="user-item">
                <div class="user-info">
                    <img src="../../assets/Usu.jpg" alt="Usuario">
                    <div class="user-details">
                        <p>Estudiante</p>
                        <p>Brenda Hernandez GIRO631</p>
                        <p>1223100474</p>
                    </div>
                </div>
                <div class="user-actions">
                    <button class="accept-btn">Aceptar</button>
                    <button class="reject-btn">Rechazar</button>
                </div>
            </div>
            
            
            
        </div>
    </div>
</body>
</html>
